<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../../scripts/style.css">
		<style>
			body {background-color: #d6b47e;}
		</style>
	</head>
	<body>
       	<div align="center">
			<br><br>
			<h3>Welcome to Sunshine English School</h3><p>
			<img src="../../images/writing.jpeg" height="400" width="300">
			<p>
			<strong>A new student, how wonderful.</strong>
			What is your name, child?<p>

		    And I will need some sort of password<p>
			<a href="welcome.html">click here to sign-in</a>
			<p>
			<form method="post">            
				<button type="submit">Sign up</button>
			</form>
		</div>
	</body>
</html>