





A
a det
about prep
add v
afternoon n
again adv
Alex n
Alice n
alien n
alphabet n
an det
and conj
angry adj
animal n
Ann/Anna n
answer n + v
apartment(UK flat) n
apple n
arm n
armchair n
ask v
at prep of place
B
baby n
badminton n
bag n
ball n
balloon n
banana n
baseball n
baseball cap n
basketball n
bat (as sports equipment)
n
bath n
bathroom n
be v
beach n
bean n
bear n
beautiful adj
bed n
bedroom n
bee n
behind prep
Ben n
between prep
big adj
bike n
Bill n
bird n
birthday n
black adj
blue adj
board n
board game n
boat n
body n
book n
bookcase n
bookshop n
boots n
bounce v
box n
boy n
bread n
breakfast n
brother n
brown adj
burger n
bus n
but conj
bye excl
C
cake n
camera n
can v
candy (UK sweet(s)) n
car n
carrot n
cat n
catch (e.g. a ball) v
chair n
chicken n
child/children n
chips (US fries) n
chocolate n
choose v
clap v
class n
classmate n
classroom n
clean adj + v
clock n
close v
closed adj
clothes n
coconut n
colour (US color) n + v
come v
complete v
computer n
cool adj + excl
correct adj
count v
cousin n
cow n
crayon n
crocodile n
cross n + v
cupboard n
Pre A1 Starters A–Z wordlist
Grammatical key
adj adjective
adv adverb
conj conjunction
det determiner
dis discourse marker
excl exclamation
int interrogative
n noun
poss possessive
prep preposition
pron pronoun
v verb
Pre A1 Starters A–Z wordlist
Pre A1 Starters A–Z wordlist 6
a lot of det
lots adv + pron
lots of det
love v
Lucy n
lunch n
M
make v
man/men n
mango n
many det
Mark n
mat n
Matt n
May (as in girl’s name) n
me pron
me too dis
meat n
meatballs n
milk n
mine pron
mirror n
Miss title
monkey n
monster n
morning n
mother n
motorbike n
mouse/mice n
mouse (computer) n
mouth n
Mr title
Mrs title
mum n
music n
my poss adj
N
name n
new adj
next to prep
nice adj
Nick n
night n
no adv + det
nose n
not adv
now adv
number n
O
of prep
oh dis
oh dear excl
OK adj + dis
old adj
on prep of place
one det + pron
onion n
open adj + v
or conj
orange adj + n
our poss adj
ours pron
P
page n
paint n + v
painting n
paper adj + n
pardon int
park n
part n
Pat n
pea n
pear n
pen n
pencil n
person/people n
pet n
phone n + v
photo n
piano n
pick up v
picture n
pie n
pineapple n
pink adj
plane n
play v
playground n
please dis
point v
polar bear n
poster n
potato n
purple adj
put v
Q
question n
R
radio n
read v
really adv
red adj
rice n
ride v
right dis
right(as in correct) adj
robot n
room n
rubber (US eraser) n
rug n
ruler n
run v
S
sad adj
Sam n
sand n
sausage n
say v
scary adj
school n
sea n
see v
see you excl
sentence n
she pron
sheep (s + pl) n
shell n
ship n
shirt n
shoe n
shop (US store) n
short adj
shorts n
show v
silly adj
sing v
sister n
sit v
skateboard n
skateboarding n
skirt n
sleep v
small adj
smile n + v
snake n
so dis
soccer (UK football) n
sock n
sofa n
some det
song n
sorry adj + int
spell v
spider n
sport n
stand v
start v
stop v
store (UK shop) n
story n
street n
Sue n
sun n
sweet(s) (US candy) n
swim v
Pre A1 Starters A–Z wordlist 7
T
table n
table tennis n
tablet n
tail n
take a photo/picture v
talk v
teacher n
teddy (bear) n
television/TV n
tell v
tennis n
tennis racket n
thank you dis
thanks dis
that det + pron
the det
their poss adj
theirs pron
them pron
then dis
there adv
these det + pron
they pron
thing n
this det + pron
those det + pron
throw v
tick n + v
tiger n
to prep
today adv + n
Tom n
tomato n
too adv
toy n
train n
tree n
trousers n
truck (UK lorry) n
try n + v
T-shirt n
TV/television n
U
ugly adj under prep understand v us pron
V
very adv
W
walk v
wall n
want v
watch n + v
water n
watermelon n
wave v
we pron
wear v
well dis
well done dis
what int
where int
which int
white adj
who int
whose int
window n
with prep
woman/women n
word n
would like v
wow excl
write v
X
(No words at this level)
Y
year n
yellow adj
yes adv
you pron
young adj
your poss adj
yours pron
Z
zebra n zoo n
Letters & numbers
Candidates will be expected to understand and write the letters of the alphabet and numbers 1–20.
Names
Candidates will be expected to recognise and write the following names:
Alex
Alice
Ann/Anna
Ben
Bill
Dan
Eva
Grace
Hugo
Jill
Kim
Lucy
Mark
Matt
May (as in girl’s name)
Nick
Pat
Sam
Sue
Tom